PORT=4000
JWT_SECRET=stackr_super_secret

# Database Info (if not fallback)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=stackr
DB_PASSWORD=password
DB_PORT=5432

# Razorpay Subscription Integration
RAZORPAY_KEY_ID=rzp_test_placeholder_key_id
RAZORPAY_KEY_SECRET=rzp_test_placeholder_key_secret
RAZORPAY_WEBHOOK_SECRET=stackr_webhook_secret
